<h1>Please choose a new participant:</h1>
<%= start_form_tag %>
<p><label for="login_userid">User ID</label><br/>
<%= text_field 'login', 'userid'  %></p>
<%= submit_tag 'Submit' %>
<%= end_form_tag %>
