<h1>Summary</h1>
<p>Thank you for participating in our experiment. Please alert the experimentor that you are complete. She will then debrief you on the experiment.</p>
<%= start_form_tag %>
<%= submit_tag 'Back to Start Page' %>
<%= end_form_tag %>
