<h1>Pause Break</h1>
<p>You have just completed the questions for the third article. 
We would now like to gather some general data about your computer 
usage.Please click "Next" when you are ready.</p>
<%= start_form_tag %>
<%= submit_tag 'Next' %>
<%= end_form_tag %>         
